extends /layouts/about.pug

block stylesheets
  link( rel='stylesheet', type='text/css', media='screen',
    href='/css/about/teachers.min.css'
  )

block header

block content
  include /components/about/topic.pug
  include /components/about/teachers/card.pug
  main.main
    +topic( 'Faculty of Computer Science','師資陣容' )
    section.cards
      each teacher in teachers
        -
          let titleResult;
          let deptResult;
          titleResult = teacher.title.join("/");
          deptResult = teacher.department.join("/");
            +cards__card({
                nameText: teacher.name,
                imageURL: teacher.img,
                linkURL: teacher.personal_web,
                emailURL: teacher.email,
                titleText: titleResult,
                deptText: deptResult,
                addressText:  teacher.office.address,
                phoneText: teacher.office.tel;
            })
      
block footer
block scripts
